/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-846bbf5f-x9qfeszz version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .title-holder  {
		
						text-align: center;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .Title  ,  .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .Body h1  { 
						color: #8a7373;
						
						letter-spacing: 0.15em;
						
						font-family: open-sans;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-weight: bold;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 400px;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .blocks-preview-body  {
		
						line-height: 1.5em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .item-content:not(.blocks_layout)  {
		
						opacity: rgba(0, 0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .inner-pic  {
		
						opacity: 1;
						
						color: rgb(255, 255, 255);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						border-width: 1px;
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: 0%;
							
		}
	
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .blocks-preview-item-links .Link:hover  {
		
						color: rgb(74, 74, 74);
						
						background-color: rgb(216, 216, 216);
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .multi_layout .helper-div.middle-center  {
		
						padding-left: 0%;
						
						width: 100%;
						
						padding-right: 0%;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .background-div  {
			
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .preview-title  ,  .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .preview-body h1  { 
						font-family: Raleway;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 5px;
						
						line-height: 1.1em;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .preview-item-links span  ,  .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 16px;
						
						padding-top: 10px;
						
						margin-bottom: 10px;
						
						border-width: 0px;
						
						background-color: rgb(128, 128, 128);
							
		}
	
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .blocks-preview-subtitle-holder  {
		
						max-width: 800px;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .stripe-background  {
		
						opacity: 0.9;
						
		    			-webkit-filter:none;filter:none;
						margin-top: -40px;
						
						margin-left: -6%;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						width: 40px;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						text-align: center;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 0px;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .Subtitle  ,  .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .blocks-preview-subtitle  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(239, 239, 239);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Raleway;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .preview-item-links span:before  ,  .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: top;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .preview-price  {
		
						font-family: Arial;
							
		}
	
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .preview-item-links span:hover  ,  .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(74, 74, 74);
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .middle_layout .helper-div  ,  .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .blocks-preview-divider  {
		
						color: rgb(255, 255, 255);
						
						border-bottom-width: 1px;
						
						border-color: rgb(255, 255, 255);
						
						width: 45%;
							
		}
	
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .blocks-preview-icon-holder .icon-source  {
		
						color: rgb(255, 255, 255);
						
						width: 70px;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .blocks-preview-title  {
		font-size:calc( 10px + ( 20rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .preview-body  {
		
						line-height: 1.5em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 20);
						
						max-width: 500px;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(216, 216, 216);
						
						padding-bottom: 5px;
						
						border-color: rgb(216, 216, 216);
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 20px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						border-width: 2px;
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .pic-side:after  ,  .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .item-effect-tester  ,  .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .sub.item-box:after  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .preview-subtitle  ,  .style-c46dfa09-akddbsak .style-846bbf5f-x9qfeszz .preview-body h2  { 
						font-family: Raleway;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(170, 170, 170);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





 .style-846bbf5f-x9qfeszz #vbid-846bbf5f-rrjaaw1p.inner-pic{
				
							background-position : 45.5172424316406% 0%;
					
				} .style-846bbf5f-x9qfeszz #vbid-846bbf5f-kzaclw5d.inner-pic{
				
							background-position : 50.3448257446289% 5.51724147796631%;
					
				} .style-846bbf5f-x9qfeszz #vbid-846bbf5f-z0lpcua2.inner-pic{
				
							background-position : 50% 22.7586212158203%;
					
				}




































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-c46dfa09-ubat0wmj version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-c46dfa09-akddbsak .style-c46dfa09-ubat0wmj.master.item-box   {
		
						position: absolute;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ubat0wmj .preview-item-links span:hover  ,  .style-c46dfa09-akddbsak .style-c46dfa09-ubat0wmj .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(147, 147, 147, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ubat0wmj .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ubat0wmj  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						margin-right: 10px;
						
						margin-top: 15px;
						
						margin-left: 10px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ubat0wmj .preview-item-links span  ,  .style-c46dfa09-akddbsak .style-c46dfa09-ubat0wmj #sr-basket-widget *  { font-size:calc( 10px + ( 15rem - 10rem ) );
						font-weight: bold;
						
						color: rgb(0, 0, 0);
						
						padding-bottom: 5px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: -0.0em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						padding-top: 5px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ubat0wmj .preview-title  ,  .style-c46dfa09-akddbsak .style-c46dfa09-ubat0wmj .preview-body h1  { font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						font-weight: bold;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						font-family: Arimo;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ubat0wmj .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ubat0wmj .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ubat0wmj .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ubat0wmj .preview-element.icon-source  {
		
						width: 820px;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ubat0wmj  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ubat0wmj .preview-subtitle  ,  .style-c46dfa09-akddbsak .style-c46dfa09-ubat0wmj .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(152, 152, 152);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7f48ebe7-p9dgcwsg version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .title-holder  {
		
						text-align: center;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .Title  ,  .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .Body h1  { 
						color: #8a7373;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-family: open-sans;
						
						letter-spacing: 0.15em;
						
						font-weight: bold;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 600px;
						
						margin-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						margin-bottom: 20px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .blocks-preview-subtitle-holder  {
		
						max-width: 800px;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .item-content:not(.blocks_layout)  {
		
						opacity: rgba(0, 0, 0, 0);
						
						background-color: rgb(50, 158, 212);
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .preview-divider  {
		
						border-color: rgb(255, 255, 255);
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .inner-pic  {
		
						opacity: 1;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						font-family: 'Times New Roman';
						
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						border-width: 1px;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .blocks-preview-item-links .Link:hover  {
		
						color: rgb(191, 52, 52);
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .background-div  {
			
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg.master.item-box   {
		
						background-color: rgb(223, 143, 143);
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .preview-title  ,  .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .preview-body h1  { 
						line-height: 1.0em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Raleway;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg.master.item-box   {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .preview-item-links span  ,  .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(239, 239, 239);
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						border-radius: 0px;
						
						padding-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .blocks-preview-body  {
		
						line-height: 1.5em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(106, 106, 106);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .stripe-background  {
		
						opacity: 0.5;
						
		    			-webkit-filter: grayscale(100%) brightness(0.8);
						margin-left: -6%;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						width: 40px;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						padding-right: 0px;
						
						margin-top: 40px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 20px;
						
						padding-left: 0px;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .Subtitle  ,  .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .blocks-preview-subtitle  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Raleway;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .preview-item-links span:before  ,  .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .effect-tester  { 
						background-color: rgb(239, 239, 239);
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .preview-price  {
		
						font-family: Arial;
							
		}
	
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .preview-item-links span:hover  ,  .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgb(239, 239, 239);
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .blocks-preview-divider  {
		
						border-bottom-width: 1px;
						
						width: 10%;
							
		}
	
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .blocks-preview-icon-holder .icon-source  {
		
						color: rgb(255, 255, 255);
						
						width: 70px;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .blocks-preview-title  {
		font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 500px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 5px;
						
						border-color: rgb(0, 0, 0);
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 20px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						border-width: 2px;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .preview-subtitle  ,  .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .middle_layout .helper-div  ,  .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;
							
		}
	 .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .pic-side:after  ,  .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .item-effect-tester  ,  .style-c46dfa09-akddbsak .style-7f48ebe7-p9dgcwsg .sub.item-box:after  { 
						background-color: rgb(191, 52, 52);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






 .style-7f48ebe7-p9dgcwsg #vbid-7f48ebe7-ddbvpt6w.inner-pic{
				
							background-position : 50% 22.7586212158203%;
					
				} .style-7f48ebe7-p9dgcwsg #vbid-7f48ebe7-co0pfdvo.inner-pic{
				
							background-position : 45.5172424316406% 0%;
					
				} .style-7f48ebe7-p9dgcwsg #vbid-7f48ebe7-edg54dmk.inner-pic{
				
							background-position : 50.3448257446289% 5.51724147796631%;
					
				}




































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-f0c38838-noaiv0bj version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 650px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(255, 255, 255);
						
						border-bottom-width: 1px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						width: 25%;
							
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .inner-pic  {
		
						opacity: 0.8;
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .background-div  {
			
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .preview-title  ,  .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .preview-body h1  { 
						font-family: "Fredericka the Great";
						font-size:calc( 10px + ( 37rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-top: 5px;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .preview-item-links span  ,  .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.25em;
						
						padding-right: 30px;
						
						margin-top: 15px;
						
						padding-left: 30px;
						
						border-radius: 0px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						border-width: 1px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .preview-element.icon-source  {
		
						width: 470px;
						
						margin-bottom: 10px;
							
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .preview-link-img  {
		
						width: 44px;
						
						margin: 5px;
							
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .preview-item-links span:hover  ,  .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .inner-pic-holder  {
		
						background-color: rgb(8, 11, 46);
							
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .preview-item-links span:before  ,  .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 1000px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .middle_layout .helper-div  ,  .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .preview-subtitle  ,  .style-c46dfa09-akddbsak .style-f0c38838-noaiv0bj .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.15em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: 'Times New Roman';
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-f0c38838-noaiv0bj #vbid-f0c38838-npqzfcag .preview-content-holder{
				
							text-align : center;
					
				}


 .style-f0c38838-noaiv0bj #vbid-f0c38838-p5o3u535.inner-pic{
				
							background-position : 49.4253% 72.7769%, 49.4253% 72.7769%;
					
				}









 .style-f0c38838-noaiv0bj #vbid-f0c38838-npqzfcag .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-4cca2a1a-5af4bd5r version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .title-holder  {
		
						text-align: center;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .preview.image-cover  {
		
						background-color: rgba(255, 255, 255, 0);
						
						margin-top: 20px;
						
						margin-bottom: 20px;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .Title  ,  .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .Body h1  { 
						color: #8a7373;
						
						letter-spacing: 0.15em;
						
						font-family: open-sans;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-weight: bold;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 300px;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .blocks-preview-icon-holder .icon-source  {
		
						width: 70px;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						border-width: 1px;
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .blocks-preview-item-links .Link:hover  {
		
						color: rgb(255, 255, 255);
						
						background-color: rgb(74, 74, 74);
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .background-div  {
		
						background-size: contain;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r.master.item-box   {
		
						background-color: rgb(244, 255, 251);
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .preview-title  ,  .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-bottom: 0px;
						
						font-family: Montserrat;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .preview-item-links span  ,  .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						border-radius: 19px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Arial;
						
						background-color: rgba(15, 43, 67, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .blocks-preview-body  {
		
						margin-bottom: 10px;
						
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						line-height: 1.4em;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .stripe-background  {
		
						opacity: 0.2;
						
						margin-top: -35px;
						
						margin-left: -6%;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .preview-element.icon-source  {
		
						margin-bottom: 20px;
						
						width: 60px;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						padding-left: 0px;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .Subtitle  ,  .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .blocks-preview-subtitle  {
		
						color: rgb(0, 0, 0);
						
						margin-top: 10px;
						
						font-family: Raleway;
						font-size:calc( 10px + ( 24rem - 10rem ) );
						margin-bottom: 10px;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .preview-icon-holder  {
		
						text-align: center;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .preview-item-links span:hover  ,  .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .preview-element.Link.hover-tester  { 
						color: rgb(50, 158, 212);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .preview-item-links span:before  ,  .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .effect-tester  { 
						background-color: rgb(74, 74, 74);
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .inner-pic  {
		
						opacity: 0.96;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .blocks-preview-title  {
		font-size:calc( 10px + ( 37rem - 10rem ) );
						letter-spacing: -0.05em;
						
						font-weight: bold;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(140, 140, 140);
						
						max-width: 500px;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(216, 216, 216);
						
						padding-bottom: 0px;
						
						padding-right: 0px;
						
						margin-top: 35px;
						
						padding-left: 0px;
						
						border-radius: 18px;
						
						padding-top: 0px;
						
						border-width: 0px;
						
						background-color: rgb(136, 136, 136);
							
		}
	 .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .preview-subtitle  ,  .style-c46dfa09-akddbsak .style-4cca2a1a-5af4bd5r .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						font-family: Raleway;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





























 .style-4cca2a1a-5af4bd5r #vbid-4cca2a1a-crllbwas.inner-pic{
				
							background-size : 81%;
					
				} .style-4cca2a1a-5af4bd5r #vbid-4cca2a1a-sthebdxo.inner-pic{
				
							background-size : contain;
					
				} .style-4cca2a1a-5af4bd5r #vbid-4cca2a1a-wfbv7ezn.inner-pic{
				
							background-size : contain;
					
				} .style-4cca2a1a-5af4bd5r #vbid-4cca2a1a-mgxvh3sa.inner-pic{
				
							background-size : contain;
					
				} .style-4cca2a1a-5af4bd5r #vbid-4cca2a1a-74pbxzl9.inner-pic{
				
							background-size : contain;
					
				} .style-4cca2a1a-5af4bd5r #vbid-4cca2a1a-avllvjpy.inner-pic{
				
							background-size : contain;
					
				} .style-4cca2a1a-5af4bd5r #vbid-4cca2a1a-kmqqa5mo.inner-pic{
				
							background-size : contain;
					
				} .style-4cca2a1a-5af4bd5r #vbid-4cca2a1a-pzi0kbod.inner-pic{
				
							background-size : contain;
					
				} .style-4cca2a1a-5af4bd5r #vbid-4cca2a1a-3afergtx.inner-pic{
				
							background-size : contain;
					
				} .style-4cca2a1a-5af4bd5r #vbid-4cca2a1a-9612xpdp.inner-pic{
				
							background-size : 117.988%;
					
				} .style-4cca2a1a-5af4bd5r #vbid-4cca2a1a-lkp6goxm.inner-pic{
				
							background-size : contain;
					
				}








/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-c46dfa09-akddbsak version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-c46dfa09-akddbsak .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-c46dfa09-akddbsak .Subtitle  ,  .master .style-c46dfa09-akddbsak .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-c46dfa09-akddbsak .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-c46dfa09-akddbsak .Title  ,  .master .style-c46dfa09-akddbsak .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-c46dfa09-akddbsak .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .master .style-c46dfa09-akddbsak .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-c46dfa09-akddbsak .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-c46dfa09-akddbsak .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-c46dfa09-akddbsak .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-c46dfa09-akddbsak .item-links span  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	
	 .master .style-c46dfa09-akddbsak .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-c46dfa09-akddbsak.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			  .header-box + .master.item-box.fill-height , 
			  #menu-placeholder + .master.item-box.fill-height { 
						min-height: calc(100vh - 0px)!important;
					
		}
	
	
	
			body    {
		
						background-color: rgb(8, 11, 46);
					
		}
	
	
	
			#xprs.in-editor  .header-box + .control-handle + .master.item-box.fill-height , 
			#xprs.in-editor  #menu-placeholder + .control-handle + .master.item-box.fill-height { 
						min-height: calc(100vh - 50px)!important;
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-c46dfa09-ofdr5x7a version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 1320px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgba(253, 253, 253, 0.53);
						
						padding-left: 0px;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .item-content:not(.blocks_layout)  {
		
						background-color: rgb(27, 73, 190);
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .preview-divider  {
		
						width: 100%;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .inner-pic  {
		
						color: rgb(0, 0, 0);
						
						opacity: 1;
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a.master.item-box   {
		
						background-color: rgb(237, 237, 237);
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .preview-title  ,  .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .preview-body h1  { 
						font-family: "Times New Roman";
						font-size:calc( 10px + ( 24rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a.master.item-box   {
		
						padding-left: 0%;
						
						width: 100%;
						
						padding-right: 0%;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .preview-item-links span  ,  .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						padding-right: 20px;
						
						margin-top: 5px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .preview-element.icon-source  {
		
						width: 660px;
						
						margin-bottom: 15px;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .preview-link-img  {
		
						width: 56px;
						
						margin: 10px;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .preview-item-links span:hover  ,  .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .preview-body  {
		
						font-family: HelveNueThinNormal;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(126, 126, 126);
						
						letter-spacing: 0.05em;
						
						max-width: 600px;
						
						margin-top: 30px;
						
						margin-bottom: 20px;
						
						line-height: 1.4em;
							
		}
	
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .preview-social-holder  {
		
						margin-bottom: 15px;
						
						margin-top: 10px;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .middle_layout .helper-div  ,  .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 2000px;
							
		}
	 .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .preview-subtitle  ,  .style-c46dfa09-akddbsak .style-c46dfa09-ofdr5x7a .preview-body h2  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 24rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.0em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						font-family: "Times New Roman";
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-c46dfa09-ofdr5x7a #vbid-c46dfa09-38pkwfmk .preview-content-holder{
				
							text-align : center;
					
				}


 .style-c46dfa09-ofdr5x7a #vbid-c46dfa09-cccmmu7s.inner-pic{
				
							background-size : 37%;
					
				}











 .style-c46dfa09-ofdr5x7a #vbid-c46dfa09-38pkwfmk .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
